<nav>
	<div class="logo">
		🚀Acme
	</div>
	<ul class="nav-menu">
		{{link-to 'Home' 'index' tagName='li'}}
		{{link-to 'Blog' 'blog' tagName='li'}}
		{{link-to 'Contact Us' 'contact-us' tagName='li'}}
	</ul>
</nav>

{{outlet}}
